-# app/views/blog_posts/_posted_at.html.haml

/ %h2 BlogPosts#_posted_at
/ %p Find me at app/views/blog_posts/_posted_at.html.haml

- post ||= @post
Posted
= post.published_at.strftime("%A, %B %-d at %H:%M %Z")
by
- if post.author
  = ascii_escape post.author.name
- else
  = lighten("(no author)")
