/*  app/assets/stylesheets/desktop/layout.css.scss  */

@import './dimensions';
@import '../solarized/colours';

body {
  min-height: 640px;
  height: 100%;
  
  &.day {
    background-color: $base3;
    background-image: image_url("background-tree-day.png");
    background-position: center center;
    background-repeat: no-repeat;
  } // body.day
  
  &.night {
    background-color: $base03;
  } // body.night
  
  #header {
    width: $header_width;
    margin: 0 auto 0;
    
    h1 {
      margin: 0;
      
      font-size:   0.75 * ($h1_line_height + 5);
      line-height: $h1_line_height + 5;
      text-align: center;
    } // body #header h1
  } // body #header
  
  #body {
    width: $header_width;
    margin: 0 auto 0;
  } // body #body
} // body
