/*  app/assets/stylesheets/desktop/text.css.scss  */

@import './dimensions';

/**************
 *  Headings  */

.base-heading {
  margin: 20px 0;
  
  font-weight: bold;
  
  &.no-margin {
    margin-bottom: 0;
  } // .base-heading .no-margin
} // .base-heading

h1 {
  @extend .base-heading;
  font-size:   $h1_font_size;
  line-height: $h1_line_height;
} // h1

/****************
 *  Paragraphs  */
p {
  font-size:   $body_font_size;
  line-height: $body_line_height;
} /* end p */