-# app/views/home/under-construction.html.haml

/ %h1 Home#under-construction
/ %p
/   Find me in app/views/home/under-construction.html.haml

%div{ :style => "margin: 50px 150px"}
  %h1 Important Notice
  %p
    Work on Sleeping King Studios is on hold due to regulatory
    uncertainty regarding the proposed
    #{link_to "SOPA", "http://judiciary.house.gov/hearings/pdf/112%20HR%203261.pdf"}/PROTECT
    IP legislation currently being debated in Congress. Sleeping King Studios
    supports Mozilla, LinkedIn, Google, and numerous other internet giants in
    #{link_to "opposing the proposed legislation", "http://boingboing.net/2011/11/16/internet-giants-place-full-pag.html"},
    which &ldquo;would expose law-abiding U.S. Internet and technology companies
    to new and uncertain liabilities, private rights of action, and technology
    mandates [which] would require monitoring of websites.&rdquo;
  %p
    Please
    = link_to "contact your representative", "https://writerep.house.gov/writerep/welcome.shtml"
    in Congress and ask them to oppose this legislation, and preserve American
    leadership in technology and new media. Thank you.
