-# app/views/admin/blog_posts/edit.html.haml

/ %h1 Admin::BlogPosts#edit
/ %p Find me at app/views/admin/blog_posts/edit.html.haml

%h1 Edit Blog Post

= render "form"

%p= link_to "Back to Blog", admin_blog_path(@blog), :class => :accent
